.header{
    box-sizing: border-box;
    padding: 1;
    margin: 3;
}
header { 
    background-color:#C2CCC4
    ;
    max-height:fit-content;
    @media screen and (main-width: 768px)}
.logo {
    max-height: 250px;
    max-width: 250px;
}
body {
    background-color: #E3DFD7;
    color: #44474D;
    font-family: Arial, Helvetica, sans-serif
}
a {
    color: #573E3E;
}
img {
    max-width: 60%;
    margin: 1;
}
address {
    font-style: normal;
}
main {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 1;
}
main-menu {
    display: flex;
    justify-content: space-evenly;
}
.menu-icon {
    display: flex
}
.site-name {
    flex: 1 0 auto;
}
.main-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    opacity: 1;
}
.footer{
    box-sizing: border-box;
    padding: 3;
    margin: 3;
}
footer{ 
    background-color: #C2CCC4; 
    color: #573E3E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.tw {
    padding: 0px;
    max-height: 40px;
    max-width: 40px;
}
.cc  {
    padding: 0px;
    max-height: 120px;
    max-width: 100px;
}
.ig {
    padding: 0px;
    max-height: 35px;
    max-width: 35px;
}
.gr {
    padding: 0px;
    max-height: 35px;
    max-width: 35px;
}
.grad {
    margin: 1;
    height: 50%;
    width: 50%;
}
.coffee {
    padding: 5;
    height: 50%;
    width: 50%;
}